- time = Time.at(@data["about"]["created_utc"])
- now = Time.now.utc
- if time.month == now.month && time.day == now.day
  .alert.alert-success
    %i{:class => 'fa fa-fw fa-gift'}
    It's
    = @username + "'s"
    cake day!

%div{:style => 'margin: 30px 0 0'}
  = render 'layouts/partials/search'

%hr{:style => 'margin: 70px 0 80px'}

%h2.heading
  Link Karma
  %span{:class => 'label label-warning'}= @data["about"]["link_karma"]
%h2.heading
  Comment Karma
  %span{:class => 'label label-warning'}= @data["about"]["comment_karma"]
%h2.heading
  Account Age
  %span{:class => 'label label-warning'}
    = time_ago_in_words(Time.at(@data["about"]["created"])) + ' old'
%h2.heading
  Last Seen
  %span{:class => 'label label-warning'}
    = time_ago_in_words(Time.at(@data["last_seen"])) + ' ago'
%h2.heading
  Moderator
  %span{:class => 'label label-' + (@data["about"]["is_mod"] == true ? 'success' : 'danger')}
    = (@data["about"]["is_mod"] == true ? 'Yes' : 'No')
%br


%h1.heading
  Recent comments from
  = @username
%hr{style: 'width:400px; margin: 20px auto 40px'}
#comments-pie.graph
  %svg
%br

%h1.heading
  Recent submissions from
  = @username
%hr{style: 'width:400px; margin: 20px auto 40px'}
#submissions-pie.graph
  %svg

%h1.heading Comment Karma Gained
%hr{style: 'width:400px;'}
#comment-karma.graph
  %svg

%h1.heading Cumulative Comment Karma
%hr{style: 'width:400px; margin: 20px auto 40px'}
#cumulative-comment.graph
  %svg

%h1.heading Link Karma Gained
%hr{style: 'width:400px; margin: 20px auto 40px'}
#link-karma.graph
  %svg

%h1.heading Cumulative Link Karma
%hr{style: 'width:400px; margin: 20px auto 40px'}
#cumulative-link.graph
  %svg

%hr{:style => 'margin: 70 px 0 80px'}

%div{:style => 'text-align: center; margin: 70px 0 100px'}
  %a{href: 'http://reddit.com/u/' + @username, :class => 'btn btn-primary btn-lg'} View on Reddit
  %br
  %br
  .btn-group
    %a{href: '/json/' + @username + '?formatted=true', :class => 'btn btn-default btn-lg'}
      %i{:class => 'fa fa-file-text-o', :style => 'margin-right: 7px'}
      Get the JSON
    %a{href: 'https://github.com/augustt198/RedditStat', :class => 'btn btn-default btn-lg'}
      %i{:class => 'fa fa-github', :style => 'margin-right: 7px'}
      View Source



:javascript
  // comments pie chart
  nv.addGraph(function() {
    var chart = nv.models.pieChart()
        .x(function(d) { return d.label })
        .y(function(d) { return d.value })
        .showLabels(true);

      d3.select("#comments-pie svg")
          .datum(commentsPie())
        .transition().duration(1200)
          .call(chart);

    return chart;
  });

  // submissions pie chart
  nv.addGraph(function() {
    var chart = nv.models.pieChart()
        .x(function(d) { return d.label })
        .y(function(d) { return d.value })
        .showLabels(true);

      d3.select("#submissions-pie svg")
          .datum(submissionsPie())
        .transition().duration(1200)
          .call(chart);

    return chart;
  });

  // upvotes
  nv.addGraph(function() {
    var chart = nv.models.stackedAreaChart()
                  .x(function(d) { return d[0] })
                  .y(function(d) { return d[1] })
                  .clipEdge(true);

    chart.xAxis
        .showMaxMin(false)
        .tickFormat(function(d) { return d3.time.format('%x')(new Date(d * 1000))});

    chart.yAxis
        .tickFormat(d3.format(',.2f'));

    d3.select('#comment-karma svg')
      .datum(commentKarma())
        .transition().duration(500).call(chart);

    nv.utils.windowResize(chart.update);

    return chart;
  });

  nv.addGraph(function() {
    var chart = nv.models.stackedAreaChart()
                  .x(function(d) { return d[0] })
                  .y(function(d) { return d[1] })
                  .clipEdge(true);

    chart.xAxis
        .showMaxMin(false)
        .tickFormat(function(d) { return d3.time.format('%x')(new Date(d * 1000)) });

    chart.yAxis
        .tickFormat(d3.format(',.2f'));

    d3.select('#link-karma svg')
      .datum(linkKarma())
        .transition().duration(500).call(chart);

    nv.utils.windowResize(chart.update);

    return chart;
  });

  nv.addGraph(function() {
    var chart = nv.models.stackedAreaChart()
                  .x(function(d) { return d[0] })
                  .y(function(d) { return d[1] })
                  .clipEdge(true);

    chart.xAxis
        .showMaxMin(false)
        .tickFormat(function(d) { return d3.time.format('%x')(new Date(d * 1000)) });

    chart.yAxis
        .tickFormat(d3.format(',.2f'));

    d3.select('#cumulative-comment svg')
      .datum(cumulativeComment())
        .transition().duration(500).call(chart);

    nv.utils.windowResize(chart.update);

    return chart;
  });

  nv.addGraph(function() {
    var chart = nv.models.stackedAreaChart()
                  .x(function(d) { return d[0] })
                  .y(function(d) { return d[1] })
                  .clipEdge(true);

    chart.xAxis
        .showMaxMin(false)
        .tickFormat(function(d) { return d3.time.format('%x')(new Date(d * 1000)) });

    chart.yAxis
        .tickFormat(d3.format(',.2f'));

    d3.select('#cumulative-link svg')
      .datum(cumulativeLink())
        .transition().duration(500).call(chart);

    nv.utils.windowResize(chart.update);

    return chart;
  });


  // datums
  function commentsPie() {
    return jQuery.parseJSON('#{@data["comment_percentiles"].to_json}');
  }
  function submissionsPie() {
    return jQuery.parseJSON('#{@data["submission_percentiles"].to_json}');
  }
  function commentKarma() {
    return jQuery.parseJSON('#{@data["comment_karma"].to_json}');
  }
  function linkKarma() {
    return jQuery.parseJSON('#{@data["link_karma"].to_json}');
  }

  function cumulativeComment() {
    return jQuery.parseJSON('#{@data["comment_karma_cumulative"].to_json}');
  }

  function cumulativeLink() {
    return jQuery.parseJSON('#{@data["link_karma_cumulative"].to_json}');
  }

